{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjana Nimbalkar | Portfolio</title>

    <link rel="stylesheet" href="{% static 'App/css/style.css' %}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="logo">Sanjana</div>

    <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
         <li><a href="#certifications">Certifications</a></li>
        <li><a href="#contact">Contact</a></li>
        
    </ul>
</nav>

<!-- Hero -->
<section id="home" class="hero">

    <div class="hero-content">

        <p class="greeting">👋 Hi, I'm</p>

        <h1>Sanjana Nimbalkar</h1>

        <h3><span class="typing"></span></h3>

        <p class="hero-text">
            Developer passionate about transforming ideas into practical web solutions using Python, Django, and modern technologies.
</p>
        </p>

       

        <div class="hero-buttons">
            <a href="https://github.com/Sanjana0821" class="btn"">GitHub</a>
            <a href="https://www.linkedin.com/in/sanjana-nimbalkar-a2493036b" class="btn"">Linkedln</a>
            <a href="https://drive.google.com/file/d/1w1aFHf2tz1_AOWEML7h8zM7dXS3KyjuN/view?usp=sharing" class="btn resume-btn">Resume</a>
        </div>

    </div>

</section>

<!-- About -->
<section id="about">

    <h2>About Me</h2>

    <p>
       I am a BCS graduate passionate about Python, Django, Web Development, and Artificial Intelligence. I enjoy creating practical solutions through technology and am currently looking for opportunities to enhance my skills, gain hands-on experience, and contribute to innovative projects.

    </p>

</section>

<!-- Skills -->
<section id="skills">

    <h2>Skills</h2>

    <div class="skills-container">

        <div class="skill-card">Python</div>
        <div class="skill-card">Django</div>
        <div class="skill-card">HTML</div>
        <div class="skill-card">CSS</div>
        <div class="skill-card">JavaScript</div>
        <div class="skill-card">Bootstrap</div>
        <div class="skill-card">MySQL</div>
        <div class="skill-card">Git & GitHub</div>

    </div>

</section>

<div class="projects-container">

    <div class="project-card">
        <h3>NyayaSetu</h3>
        <p>
            Developed a legal assistance platform using Python,
            Django, HTML, CSS, JavaScript, and MySQL.
        </p>
    </div>

    <div class="project-card">
        <h3>AudioBook Converter</h3>

        <p>
            Developed a desktop application that converts PDF documents
            into audiobooks by extracting text and generating speech output.
        </p>

        <p><strong>Technologies:</strong> Python, Tkinter, PyMuPDF, pyttsx3</p>
    </div>

</div>


<section id="certifications">

    <h2>Certifications</h2>

    <div class="cert-grid">

        <!-- Card 1 -->
        <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🐍</div>
                <span class="cert-year">2025</span>
            </div>

            <h3>Introduction to Frontend Development</h3>

            <p class="provider">Simplilearn</p>

            <p class="cert-desc">
                Learned to build responsive and interactive web interfaces using HTML, 
                CSS, JavaScript, Flexbox, Grid, and basic animations.
            </p>

            <a href="https://drive.google.com/file/d/1U62PIqxpfYuKIstZbCunAGM7J_VSR8Qs/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>

        <!-- Card 2 -->
        <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🌐</div>
                <span class="cert-year">2025</span>
            </div>

            <h3>Python Ethical Hacking Pentest for Hackers Scripting Basics</h3>

            <p class="provider">Udemy</p>

            <p class="cert-desc">
                Learned Python scripting for ethical hacking, penetration testing,
                and security analysis.
            </p>

            <a href="https://drive.google.com/file/d/114G_nyJ67d2P2p5FQE7IsgtJ1Z-KmyMF/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>

        <!-- Card 3 -->
        <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">💻</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Python Foundation Certification</h3>

            <p class="provider">Infosys Springboard </p>

            <p class="cert-desc">
              Developed a solid foundation in Python programming, including data structures, loops, functions, modules, file 
              operations, and object-oriented programming through hands-on coding exercises.
            </p>

            <a href="https://drive.google.com/file/d/16OGXFDTkPx9YtzsREiRnWspLGWag2xCI/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>

        <!-- Card 4 -->
        <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🤖</div>
                <span class="cert-year">2024</span>
            </div>

            <h3>Software Engineering and Agile software development</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
               Gained knowledge of software engineering principles
               , Agile methodologies, Scrum framework, software development life cycle (SDLC), project planning, and collaborative development practices.
            </p>

            <a href="https://drive.google.com/file/d/1UaMRnd4g9QyyP9SBiGwDG9-ETwoAzXaD/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>

        <!-- Card 5 -->
        <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🔗</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Basic of Python</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
               Learned the core concepts of Python programming, including variables, data types, control structures, functions, loops, 
               and basic file handling through practical coding exercises.
            </p>

            <a href="https://drive.google.com/file/d/1dcj2at1RUFGc-7w4VWisbWX3iKN2Ijyp/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>

        <!-- Card 6 -->
        <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🗄️</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Programming Fundamentals using Python-Part 1</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
                Learned the fundamentals of Python programming, including variables, data types, operators, control
                 flow, loops, functions, and essential programming concepts through hands-on exercises.
            </p>

            <a href="https://drive.google.com/file/d/1KAPHNxQl4P8llMZB31DXbdxhI3zuR6Hb/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>
<!-- Card 7 -->

         <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🗄️</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Programming Fundamentals using Python-Part 2</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
                    Completed Programming Fundamentals using Python  Part 2, building on core Python concepts with advanced functions, modules,
                     file handling, exception handling, data structures, and problem-solving techniques.
            </p>

            <a href="https://drive.google.com/file/d/1xGo4Fl3UWlc0mggzaBR43rYyYvVyYZIu/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>
        <!-- Card 8 -->

          <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🗄️</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Database Management System-Part 1</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
              Developed foundational knowledge of DBMS concepts, covering database 
              design, relational models, 
              SQL basics, normalization, and data integrity through 
              practical exercises.hrough hands-on exercises.
            </p>

            <a href="https://drive.google.com/file/d/1A6DYr_5et6AZ7nbJe2f-hvlJ91gfpOn7/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>
         <!-- Card 9 -->

        <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🗄️</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Database Management System Part-2</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
           Completed Database Management System – Part 2, gaining advanced
            knowledge of SQL queries, joins,
            normalization, indexing, transactions, database design, and data integrity concepts.
            </p>

            <a href="https://drive.google.com/file/d/10v8bbAc11Ocaeuf544cWUvwp017BP3_5/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>
 <!-- Card 10 -->
         <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🗄️</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Introduction to NoSQL database</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
             Completed Introduction to NoSQL Database, gaining foundational
              knowledge of NoSQL concepts, document-based
              databases, key-value stores, data modeling, and scalable data storage techniques.
            </p>

            <a href="https://drive.google.com/file/d/100FZ9jE0mkNUcYOETWqGpt-CulphgDF8/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>
        
         <!-- Card 11 -->
         <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🗄️</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Agile Srcum in Practice</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
            Successfully completed Agile Scrum in Practice, covering Agile principles, Scrum 
            framework, sprint planning, backlog management, and collaborative project development.
            </p>

            <a href="https://drive.google.com/file/d/12uFa200jUDv0g9FDbOf8_Ka4qcKHKhCP/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>


            <!-- Card 12-->
         <div class="cert-card">

            <div class="cert-header">
                <div class="cert-icon">🗄️</div>
                <span class="cert-year">2026</span>
            </div>

            <h3>Object Oriented Programming using Python</h3>

            <p class="provider">Infosys Springboard</p>

            <p class="cert-desc">
               Developed a strong understanding of Object-Oriented Programming concepts using Python by implementing
                classes, objects, inheritance, polymorphism, and modular application design.
            </p>

            <a href="https://drive.google.com/file/d/1P8xkOQ_T1BiCjgSYRw2zCjM4AnkbS3A0/view?usp=sharing" target="_blank">
                View Certificate →
            </a>

        </div>



         
        


    </div>

</section>

<!-- Contact -->
<section id="contact">

    <h2>Contact Me</h2>

    <div class="contact-box">

        <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}

            <input type="text" name="name" placeholder="Your Name" required>

            <input type="email" name="email" placeholder="Your Email" required>

            <input type="text" name="subject" placeholder="Subject" required>

            <textarea name="message" rows="5" placeholder="Your Message" required></textarea>

            <button type="submit" class="btn">Send Message</button>
        </form>

    </div>

</section>


<footer>
    <p>© 2026 Sanjana Nimbalkar | All Rights Reserved</p>
</footer>

<script src="{% static 'App/js/script.js' %}"></script>

</body>
</html>